{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Reci.py</title>

        <link rel="stylesheet" href="{% static 'recipe_site/css/base_home.css' %}">

        {% block headers %}

        {% endblock %}
    </head>
    <body>

        <div class="nav-bar unselectable">
            <h1 class="logo">Reci.py</h1>
            <div class="nav-items nav-start">
                <div>
                    <a>Home</a>
                </div>
                <div>
                    <a href="{% url "recipe_site:recipes" %}">Recipes</a>
                </div>
            </div>

            <div class="nav-items nav-end">
                <div>
                    <a href="{% url "recipe_site:logout" %}">
                        Logout
                    </a>
                </div>
            </div>
        </div>

        {% block content %}

        {% endblock %}
    </body>
</html>