{% extends "recipe_site/landing_base.html" %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'recipe_site/css/login.css' %}">
{% endblock %}

{% block card-content %}
    {% if not request.user.is_authenticated %}
        <h1>Login</h1>

        <form method="POST" action="{% url 'recipe_site:login' %}">
            <div class="login-input">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="login-input">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            {{ form.non_field_errors }}
            <div class="login-btn">
                <input type="submit" value="Login">
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            {% csrf_token %}
        </form>
    {% else %}
        <h1>You are logged in as: <span class="logged-in-text">{{ request.user }}</span></h1>
        <div class="logout-btn">
            <input type="submit" value="Logout"
                   onclick="window.location='{% url 'recipe_site:logout' %}';"/>
        </div>
    {% endif %}
{% endblock %}
