{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Recipe Login</title>

        <link rel="stylesheet" href="{% static 'recipe_site/css/login.css' %}">
    </head>
    <body>

        <div class="heading">
            <h1>Reci.py</h1>
        </div>

        <div class="login-center-container">
            <div class="login-background">
                <img src="{% static "recipe_site/images/login-background.jpg" %}"
                     alt="Good looking food"/>
            </div>
            <div class="login-container">
                <h1>Login</h1>

                <form method="POST" action="login.html">
                    <div class="login-input">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="login-input">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    <div class="login-btn">
                        <input type="submit" value="Login">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                </form>

            </div>
        </div>

    </body>
</html>