@import "normalize.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  font-family: Monseratt, serif;
}

.logo {
  font-family: Queensides, serif;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

