@import "normalize.css";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Queensides;
  src: url("../fonts/Queensides.ttf");
}

@font-face {
  font-family: Queensides;
  src: url("../fonts/QueensidesMedium.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Queensides;
  src: url("../fonts/QueensidesLight.ttf");
  font-weight: 300;
}