.errorlist.nonfield {
  list-style: none;
  text-align: left;
  font-size: 0.75em;
  color: black;
  background-color: rgba(223, 79, 79, 0.28);
  padding: 0.3em;
  border-radius: 0.3em;
}

.errorlist {
  list-style: none;
  text-align: left;
  font-size: 0.75em;
  color: black;
  background-color: rgba(223, 79, 79, 0.28);
  padding: 0.3em;
  border-radius: 0.3em;
}