@import "base.scss";

.errorlist.nonfield {
  list-style: none;
  text-align: left;
  font-size: 0.75em;
  color: black;
  background-color: rgba(223, 79, 79, 0.28);
  padding: 0.2em;
  border-radius: 0.3em;
}

.logged-in-text {
  color: #027e17;
}

.logout-btn {
  text-align: center;

  input {
    font-size: 2em;
    padding: 0.3em;
  }
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-grow: 1;

  .login-input {
    margin: 0.5em 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 1em;
    align-items: center;

    label {
      text-align: center;
      margin: 0.25em;
      font-family: Monseratt, serif;
    }
  }

  .login-btn {
    margin-top: 0.5em;
    display: flex;

    input {
      padding: 0.25em 0.75em;
    }
  }
}


